@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700");
@import url("https://fonts.googleapis.com/css?family=Share");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

body {
  max-width: 100%;
  overflow-x: hidden; }

.index {
  background: #5fc49e;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; }
  .index .content {
    position: relative;
    z-index: 500; }
  .index #shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: #f0f0f0;
    transition: all 5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    opacity: 1;
    z-index: 400; }
  .index.loaded #shade {
    background: #eb5a4f;
    opacity: .7; }
  .index h1 {
    font-size: 38px;
    font-family: "Share", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }
    @media all and (min-width: 320px) {
      .index h1 {
        font-size: 49.6px;
        line-height: 55.6px; } }
    @media all and (min-width: 480px) {
      .index h1 {
        font-size: 67.2px;
        line-height: 79.2px; } }
    @media all and (min-width: 640px) {
      .index h1 {
        font-size: 84.8px;
        line-height: 102.8px; } }
    @media all and (min-width: 768px) {
      .index h1 {
        font-size: 102.4px;
        line-height: 126.4px; } }
    @media all and (min-width: 1024px) {
      .index h1 {
        font-size: 120px;
        line-height: 150px; } }
    @media all and (min-width: 1280px) {
      .index h1 {
        font-size: 120px;
        line-height: 150px; } }
  .index p {
    font-size: 24px;
    line-height: 24px; }
    @media all and (min-width: 320px) {
      .index p {
        font-size: 25.6px;
        line-height: 25.6px; } }
    @media all and (min-width: 480px) {
      .index p {
        font-size: 27.2px;
        line-height: 27.2px; } }
    @media all and (min-width: 640px) {
      .index p {
        font-size: 28.8px;
        line-height: 28.8px; } }
    @media all and (min-width: 768px) {
      .index p {
        font-size: 30.4px;
        line-height: 30.4px; } }
    @media all and (min-width: 1024px) {
      .index p {
        font-size: 32px;
        line-height: 32px; } }
    @media all and (min-width: 1280px) {
      .index p {
        font-size: 32px;
        line-height: 32px; } }
  .index .buttons {
    position: absolute;
    right: 0;
    bottom: -100px;
    left: 0;
    align-items: center; }
  .index button {
    font-size: 18px;
    font-family: "Share", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding: 15px;
    display: inline-block;
    border-radius: 100px;
    color: #f0f0f0;
    transition: all 0.15s linear;
    background: transparent;
    font-size: 24px;
    border: 2px solid #f0f0f0;
    margin-top: 1.5625em;
    opacity: 0; }
    .index button:hover {
      background: #f0f0f0;
      color: #010B13; }
    .index button:active, .index button:focus {
      outline: 0; }
    .index button:active {
      transform: translateY(4px); }
    @media all and (min-width: 320px) {
      .index button {
        margin-top: 1.86035em; } }
    @media all and (min-width: 480px) {
      .index button {
        margin-top: 2.1582em; } }
    @media all and (min-width: 640px) {
      .index button {
        margin-top: 2.45605em; } }
    @media all and (min-width: 768px) {
      .index button {
        margin-top: 2.75391em; } }
    @media all and (min-width: 1024px) {
      .index button {
        margin-top: 3.05176em; } }
    @media all and (min-width: 1280px) {
      .index button {
        margin-top: 3.05176em; } }
  .index.loaded button {
    opacity: 1; }
  .index #kaleidoscope {
    z-index: -1; }

#shade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #f0f0f0;
  transition: all 2s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  opacity: 1; }

.visualizer #shade {
  background: #f0f0f0;
  opacity: 1;
  z-index: 1000; }

.visualizer.loaded #shade {
  opacity: 0; }

#kaleidoscope {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

#toast {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(1, 11, 19, 0.6), transparent);
  transition: opacity 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  z-index: 100;
  opacity: 0;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 30px;
  align-items: center;
  justify-content: center;
  height: 247px; }

@keyframes scale-up {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
  #toast img {
    height: 120px;
    width: 120px;
    display: block;
    margin: 0 auto 20px;
    transform: scale(0);
    animation: scale-up 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    animation-fill-mode: forwards; }
  #toast h1 {
    font-size: 18px;
    font-family: "Share", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    min-width: 100%;
    color: #f0f0f0;
    font-weight: 300; }
    #toast h1 i {
      height: 30px;
      line-height: 30px;
      display: block;
      font-style: normal;
      font-size: 24px; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    #toast h1 span {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      animation: fade-in 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
      display: block;
      font-size: .7em; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

body {
  max-width: 100%;
  overflow-x: hidden; }

.index {
  background: #5fc49e;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; }
  .index .content {
    position: relative;
    z-index: 500; }
  .index #shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: #f0f0f0;
    transition: all 5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    opacity: 1;
    z-index: 400; }
  .index.loaded #shade {
    background: #eb5a4f;
    opacity: .7; }
  .index h1 {
    font-size: 38px;
    font-family: "Share", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    line-height: 32px; }
    @media all and (min-width: 320px) {
      .index h1 {
        font-size: 49.6px;
        line-height: 55.6px; } }
    @media all and (min-width: 480px) {
      .index h1 {
        font-size: 67.2px;
        line-height: 79.2px; } }
    @media all and (min-width: 640px) {
      .index h1 {
        font-size: 84.8px;
        line-height: 102.8px; } }
    @media all and (min-width: 768px) {
      .index h1 {
        font-size: 102.4px;
        line-height: 126.4px; } }
    @media all and (min-width: 1024px) {
      .index h1 {
        font-size: 120px;
        line-height: 150px; } }
    @media all and (min-width: 1280px) {
      .index h1 {
        font-size: 120px;
        line-height: 150px; } }
  .index p {
    font-size: 24px;
    line-height: 24px; }
    @media all and (min-width: 320px) {
      .index p {
        font-size: 25.6px;
        line-height: 25.6px; } }
    @media all and (min-width: 480px) {
      .index p {
        font-size: 27.2px;
        line-height: 27.2px; } }
    @media all and (min-width: 640px) {
      .index p {
        font-size: 28.8px;
        line-height: 28.8px; } }
    @media all and (min-width: 768px) {
      .index p {
        font-size: 30.4px;
        line-height: 30.4px; } }
    @media all and (min-width: 1024px) {
      .index p {
        font-size: 32px;
        line-height: 32px; } }
    @media all and (min-width: 1280px) {
      .index p {
        font-size: 32px;
        line-height: 32px; } }
  .index .buttons {
    position: absolute;
    right: 0;
    bottom: -100px;
    left: 0;
    align-items: center; }
  .index button {
    font-size: 18px;
    font-family: "Share", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    padding: 15px;
    display: inline-block;
    border-radius: 100px;
    color: #f0f0f0;
    transition: all 0.15s linear;
    background: transparent;
    font-size: 24px;
    border: 2px solid #f0f0f0;
    margin-top: 1.5625em;
    opacity: 0; }
    .index button:hover {
      background: #f0f0f0;
      color: #010B13; }
    .index button:active, .index button:focus {
      outline: 0; }
    .index button:active {
      transform: translateY(4px); }
    @media all and (min-width: 320px) {
      .index button {
        margin-top: 1.86035em; } }
    @media all and (min-width: 480px) {
      .index button {
        margin-top: 2.1582em; } }
    @media all and (min-width: 640px) {
      .index button {
        margin-top: 2.45605em; } }
    @media all and (min-width: 768px) {
      .index button {
        margin-top: 2.75391em; } }
    @media all and (min-width: 1024px) {
      .index button {
        margin-top: 3.05176em; } }
    @media all and (min-width: 1280px) {
      .index button {
        margin-top: 3.05176em; } }
  .index.loaded button {
    opacity: 1; }
  .index #kaleidoscope {
    z-index: -1; }

#shade {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #f0f0f0;
  transition: all 2s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  opacity: 1; }

.visualizer #shade {
  background: #f0f0f0;
  opacity: 1;
  z-index: 1000; }

.visualizer.loaded #shade {
  opacity: 0; }

#kaleidoscope {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

#toast {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(1, 11, 19, 0.6), transparent);
  transition: opacity 1s cubic-bezier(0.81, 0.14, 0.22, 0.86);
  z-index: 100;
  opacity: 0;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding: 30px;
  align-items: center;
  justify-content: center;
  height: 247px; }

@keyframes scale-up {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
  #toast img {
    height: 120px;
    width: 120px;
    display: block;
    margin: 0 auto 20px;
    transform: scale(0);
    animation: scale-up 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
    animation-fill-mode: forwards; }
  #toast h1 {
    font-size: 18px;
    font-family: "Share", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    min-width: 100%;
    color: #f0f0f0;
    font-weight: 300; }
    #toast h1 i {
      height: 30px;
      line-height: 30px;
      display: block;
      font-style: normal;
      font-size: 24px; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    #toast h1 span {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      animation: fade-in 0.5s cubic-bezier(0.81, 0.14, 0.22, 0.86);
      display: block;
      font-size: .7em; }



/*# sourceMappingURL=style.css.map */
