$hover-menu-speed: 750ms;
$hover-menu-easing: ease-in-out;
$hover-menu-transition: opacity $hover-menu-speed $hover-menu-easing;

$bounce-easing: cubic-bezier(1,-0.5,.5,1.25);
$slide-easing: cubic-bezier(.71,.21,.35,1.36);