@use "~@zach.winter/common/sass/global" as *;

@forward 'mixins/page';
@forward 'mixins/separator';
@forward 'mixins/share';

$form-control-background: transparent;
$form-control-color: $white;
$form-control-border: none;
$form-control-height: 40px;
$outer-padding: 30px;
$base-margin: 1rem;
$control-height: 80px;
$sidebar-width: 500px;
$ui-color: rgba(0, 0, 0, .75); 
$base-easing: cubic-bezier(.8,.3,.25,1);
$bounce-easing: cubic-bezier(1,0,.5,1);
$spotify-green: #65D36E;
$pink: #F97583;

@forward "~@zach.winter/common/sass/global";