@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=0DE17FFE-EF56-4FEC-AEC7-7A31A8703B2C
//registry.npmjs.org/:_authToken=86be4966-875b-4df9-9e8f-020c196ea98f
//npm.pkg.github.com/:_authToken=72fb4bfbce505bbbdf2ae9a15cf59509f8553c0d