*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}