extends layout

block variables
  - var bodyClass = 'index'

block content
  div(id="shade")
  div.content
    h1= title
    p A Spotify Visualizer
    div.buttons
      button(class="login") Login
  canvas(id="kaleidoscope")