- var bodyClass;
block variables
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='serve/style.css')
    link(rel="icon", href="/images/thumb.png")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(property="og:title" content="Kaleidosync: A Spotify Visualizer")
    meta(property="og:url" content="https://kaleidosync.herokuapp.com")
    meta(property="og:image" content="https://kaleidosync.herokuapp.com/images/thumb.png")
  body(class=bodyClass)
    block content

    script(src='js/lib/typed.js')
    script(src='js/lib/easing.js')
    script(src='js/lib/js.cookie.js')
    script(src='js/lib/require.js' data-main="serve/js/app")