- var bodyClass;
block variables
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='serve/style.css')
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
  body(class=bodyClass)
    block content

    script(src='js/lib/typed.js')
    script(src='js/lib/require.js' data-main="serve/js/app")