extends layout

block variables
  - var bodyClass = 'visualizer'

block content
  div(id="shade")
  canvas#kaleidoscope
  div#monitor
    div#tatums
    div#segments
    div#beats
    div#bars
    div#sections