header#header
  div.container 
    block page-title
      a(href="index.html"): h1
    nav
      ul
        li: a(href="typography.html") Typography
        li: a(href="forms.html") Forms
        li: a(href="modules.html") Modules
        li: a(href="mandala.html") Mandala
    a(data-toggle-nav): span 