@mixin button() {
  @include all-caps;
  @include padding(15px);
  display: inline-block;
  border-radius: 100px;
  transition: all $hover-transition;
  background: transparent;
  color: $white;  
  border: 2px solid $white;
  font-size: 24px;

  &:hover {
    background: $white;
    color: $black;
    
  }

  &:active, &:focus { outline: 0; }

  &:active {
    transform: translateY(4px);
  }
}