@mixin pad($vertical: false) {
  padding-left: $mobile-outer-padding;
  padding-right: $mobile-outer-padding;

  @if ($vertical) {
    padding-top: $mobile-outer-padding;
    padding-bottom: $mobile-outer-padding;
  }

  @include min-width(mobile) {
    padding-left: $desktop-outer-padding;
    padding-right: $desktop-outer-padding;
  
    @if ($vertical) {
      padding-top: $desktop-outer-padding;
      padding-bottom: $desktop-outer-padding;
    }
  }
}