#footer {
	width: 100%;
	align-self: baseline;
	margin-top: $base-margin;
	border-top: 1px solid rgba(0, 0, 0, .05);

	p {
		@extend %small-heading;
		text-transform: none;
		float: left;
		line-height: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	p:before {
		@include font-awesome(copyright);
		padding-right: 5px;
	}
} 