@import 'global';

.index {
  background: $green; 
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;

  .content {
    position: relative;
    z-index: 500;
  }

  #shade {
    @include position(fixed, 0 0 0 0);
    z-index: 0;
    background: $white;
    transition: all 5s $base-easing;
    opacity: 1;
    z-index: 400;
  }

  &.loaded #shade {
    background: $red;
    opacity: .7;
  }

  h1 {
    @include heading;
    @include scale(
      font-size 32px 120px,
      line-height 32px 150px
    );
  }

  p {
    @include scale(
      font-size 24px 32px,
      line-height 24px 32px
    )
  }

  .buttons {
    @include position(absolute, null 0 -100px 0);
    align-items: center;
  }

  button {
    @include button;
    @include scale(margin-top modular-scale(2) modular-scale(5));
    opacity: 0;
  }

  &.loaded button { 
    opacity: 1;
  }

  #kaleidoscope {
    z-index: -1;
  }
}  