@import 'global';

$page-border: 1px solid rgba($black, .1);

.metrics {
  .container {
    @include container;
    @include pad;
  }

  h2 {
    @include heading;
    font-size: 20px;
    text-align: center;
  }

  #monitor {
    clear: both;
    text-align: center;

    > div {
      border-left: $page-border;
      float: left;
      width: 20%;
      padding: 20px 0;

      &:last-child { border-right: $page-border; }
    }
  }

  .pitch, .timbre {
    width: 50%;
    float: left;
    border: $page-border;
    padding: 20px;
  }

  .timbre { 
    border-right: 0;
  }
}