@mixin button($color: $black) {
  @include size(auto, 40px);
  @include share;
	line-height: 40px;
  display: inline-block;
  background: transparent;
  color: $color;
	padding: 0 20px;
  border-radius: 50px;
  text-align: center;
  border: 2px solid $color;
  font-size: 20px;
  transition: all .2s ease-in-out;

  &:active, &:focus { outline: 0 }

  &:hover { 
    background: $color;
    color: $white;
    cursor: pointer;
  } 

  &:active { color: transparent; }
}