@mixin fixed-aspect-ratio($aspect-ratio-x, $aspect-ratio-y) {
	@include size(100% 0);
	display: block;
	position: relative;
	padding-bottom: $aspect-ratio-y/$aspect-ratio-x * 100%;

	> * {
		@include position(absolute, 0 0 0 0);
		@include size(100%);
		display: block;
		border: 0;
	}
}