@mixin menu-button {
  @include size(80px, 80px);
  background: black;
  padding: 30px;
  border: 0;
  outline: 0;
  display: block;
  
  &:hover { outline: 0; }

  @include max-width(header) {
    @include size(40px);
    padding: 10px;
  }

  svg {
    @include size(100%);

    * {
      fill: white;
      transition: fill 100ms linear;
    }
  }

  &:hover svg * { fill: $blue; }
}