/*
 * Configured in /src/sass/config/_variables.scss
 */


 
#header {
	@include transition(all $base-transition);
	width: 100%;
	background: $white;

	@include bp($header-mobile-breakpoint) { box-shadow: $header-box-shadow; }

	.container {
		@include transition(all $base-transition);
		padding-top:    $header-padding;
		padding-bottom: $header-padding;

		@include bp($header-mobile-breakpoint) {
			padding-top:    $mobile-header-padding;
			padding-bottom: $mobile-header-padding;
		} 
	}

	h1 {
		@include transition(color $base-transition);
		float: left;
		font-size: 24px;
		text-transform: uppercase;
		line-height: $header-item-height;
		color: $black;

		&:before { @include font-awesome(code); }

		&:hover { color: $base-color; }

		@include bp($header-mobile-breakpoint) {
			line-height: $mobile-header-item-height;
		}
	}

	[data-toggle-nav] {
		@include hamburger($mobile-header-item-height, $black, $white);
		@include show-when($header-mobile-breakpoint);
		float: right;
	}

	nav {
		float: right;

		li {
			float: left;
			margin-right: $base-margin;

			&:last-child { margin-right: 0; }
		}

		a {
			@extend %small-heading;
			@include border-underline($base-color);
			float: left;
			line-height: 20px;
			margin-top: ($header-item-height / 2) - 10;
			color: $black;
		}

		@include bp($header-mobile-breakpoint) { @include mobile-menu($secondary-color, $white); }
	} 
}



/*
 * Fixed Header 
 */
@if $fixed-header {
	#header {
		@include position(fixed, 0 0 null 0);
		z-index: 50;
		box-shadow: $header-box-shadow-inactive;

		@include bp($header-mobile-breakpoint) { box-shadow: $header-box-shadow; }
	}
	
	body[data-scrolled="true"] {
		#header { box-shadow: $header-box-shadow; }

		#header .container {
			padding-top:    $scrolled-header-padding;
			padding-bottom: $scrolled-header-padding;

			@include bp($header-mobile-breakpoint) {
				padding-top:    $mobile-header-padding;
				padding-bottom: $mobile-header-padding;
			} 
		}
	}

	/*
	 * Adjust <body> top padding accordint to header height.
	 */ 
	@if $adjust-body-padding {
		body {
			@include transition(padding-top $base-transition);
			padding-top: $header-height;

			&[data-scrolled="true"] { padding-top: $scrolled-header-height; }
		}

		body, body[data-scrolled="true"] {
			@include bp($header-mobile-breakpoint) { padding-top: $mobile-header-height; }
		}
	}
}



/*
 * Page Header
 */
main > header {
	padding-top:    $base-margin * 2;
	padding-bottom: $base-margin * 2;
	margin-bottom:  $base-margin;

	@include bp($header-mobile-breakpoint) {
		padding-top:    $base-margin;
		padding-bottom: $base-margin;
	}
}