@function global($args...) {
  $first: null;
  $next: null;

  @each $arg in $args {
    @if index($args, $arg) == 1 {
      $first: map-get($GLOBAL, $arg);

      @if length($args) == 1 { @return $first; }
    } 

    @if index($args, $arg) == 2 {
      $next: map-get($first, $arg);
    }

    @if index($args, $arg) > 2 {
      $next: map-get($next, $arg);
    } 

    @if index($args, $arg) == length($args) { @return $next; }
  }
}