@mixin mobile-menu($shade-color, $text-color){
	@include position(fixed, 0 0 0 -100%);
	@include size(100%);
	@include transition(left $base-transition, opacity $base-transition);
	background: rgba($shade-color, .95);
	opacity: 0;
	overflow: hidden;
	z-index: 100;
	 -webkit-transform-style: preserve-3d; 

	> ul {
		@include outer-padding(true);
		@include position(relative, 50% null null null);
		@include transform( translateY(-50%) );
		text-align: center;
		width: 100%;
		clear: both;
		margin: 0;
		list-style-type: none;
	}

	li {
		display: block;
		float: none;
		margin: 0;
		margin-bottom: $base-margin;
		
		&:last-child { margin-bottom: 0; }
	}

	a {
		@include border-underline($text-color);
		float: none;  
		display: inline-block;
		padding: 0;
		margin: 0;
		color: $text-color;

		&:hover { color: $text-color; }
	}

	&.open {
		@include position(fixed, 0 0 0 0);
		opacity: 1;
	}
}